.DS_Store
*.class
dependency-reduced-pom.xml
target
*.swp
*~
docker/docker-gui/Builder_2.0.sh
docker/docker-gui/ConfigCreator_2.0.sh
docker/docker-gui/DetSegExtractor_2.0.sh
docker/docker-gui/FrameworkRunner_2.0.sh
.classpath
.project
*.log
.settings**
docker/docker-gui/config/
docker/docker-gui/data/
config/
/database/
/bin/
.vscode/settings.json
nbactions*
nb-configuration.xml
docker/prefs/
*.jar
